extends layout
block content
  section.introSection
    h2 Welcome to Etalon
    p This is where i share my projects and notes on the stuff i'm learning.
    figure.imgFigure
      img(src="/img/susan-yin-647448-unsplash.jpg", alt="Rows of books").figImg
      blockquote An investment in knowledge pays the best interest. -Benjamin Franklin
      figcaption
        a(href="https://unsplash.com/@syinq" target="_blank") Picture by Susan Yin @ unsplash
  section
    h2 Notes 
    p My notes is my blog, in a sense. This is where i'll learn by sharing.
    a(href="/notes") Go to notes